#calendar-wrapper {
    width: 80%;
    overflow: auto;
    border: 2px solid MediumSeaGreen;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-right: 1px solid coral;
    border-bottom: 1px solid coral;
    height: 2em;
    width: 128px; /* Set a fixed width for table cells */
    min-width: 128px; /* Ensure minimum width for table cells */
    text-align: center;
    white-space: nowrap; /* Prevent collapsing */
}

.start-lesson {
    border-top: 2px solid black;
}

.end-lesson {
    border-bottom: 2px solid black;
}

th:last-child,
td:last-child {
    border-right: none;
}

td:hover {
    background-color: rgba(60, 60, 60, 0.05);
}

.timeOccupied {
    background-color: rgba(128, 128, 128, 0.4);
}

body {
    background-color: antiquewhite;
}
