<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The calendar with fullcalendar</title>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

    <script src="/templates/mock-data.js"></script>
    <link rel="stylesheet" href="/templates/stylesV2.css">

</head>
<body>
<div id="calendar-wrapper" class="calendar-wrapper">
    <div id='calendar'></div>
</div>

<script>

    // Function to format time
    function formatTime(date) {
        return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });
    }

    document.addEventListener('DOMContentLoaded', function () {
        const calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            selectable: true,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,dayGridWeek,timeGridDay'
            },
            buttonText: {
                today: 'Today',
                month: 'Month',
                week: 'Week',
                day: 'Day'
            },
            views: {
                dayGridMonth: { buttonText: 'Month' },
                dayGridWeek: { buttonText: 'Week' },
                dayGridDay: { buttonText: 'Day' }
            },
            events: lessonsEvents,
            eventTimeFormat: {
                hour: '2-digit',
                minute: '2-digit',
                hour12: false
            },
            eventClick: function (info) {
                const student = info.event.extendedProps.student;
                alert(`${student.name}\nEmail: ${student.email}`);
            },
            eventDidMount: function(info) {
                const timeElement = info.el.querySelector('.fc-event-time');
                const titleElement = info.el.querySelector('.fc-event-title');

                const startTime = formatTime(new Date(info.event.start));
                const endTime = formatTime(new Date(info.event.end));
                const timeText = `${startTime} - ${endTime}`;
                const titleText = info.event.title;

                // Create time and title elements
                if (timeElement) {
                    timeElement.innerHTML = timeText;
                }

                if (titleElement) {
                    titleElement.innerHTML = titleText;
                }
            }
        });
        calendar.render();
    });

</script>


</body>
</html>